.footer__column-link {
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  text-decoration:none;
  color: #fff;
}

.footer__column-link:hover {
  opacity: 85%;
  transition: all 30ms ease-out;
}

.footer__column-link:nth-child(2) {
  margin: 10px 0;
 }
